@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: KoHo;
}

.active {
  position: relative;
  color: #ffc225;
}

.active:after {
  content: "";
  background-color: #ffc225;
  height: 3px;
  position: absolute;
  width: 50%;
  left: 0;
  bottom: -5px;
}